:root {
    --main-color-light: #E5E5E5;
    --main-color-dark: #222831;
    --main-color-blue: #30475E;
    --main-color-red: #F05454;
}


body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
}

.portrait-section {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}
.skills-section {
    background-color: var(--main-color-blue);
    color: var(--main-color-light);
    padding-left: clamp(2rem, 8rem, 20rem);
    padding-right: clamp(1rem, 2rem, 3rem);
}
.contacts-section {
    background-color: var(--main-color-light);
    color: var(--main-color-blue);
}
.footer-section {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
}



.skills-vertical-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills-grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:  repeat(3, 1fr);
    grid-row-gap: 20%;
    grid-column-gap: 5%;
    align-items: center;
    justify-content: center;
}
.skill-card-grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: left;
}
.skill-grid-icon {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    justify-self: end;
    margin-right: 1.2em;
}
.hardware-skill {
    grid-row: 1;
    grid-column: 1;
}
.team-management-skill {
    grid-row: 1;
    grid-column: 2;
}
.networks-skill {
    grid-row: 1;
    grid-column: 3;
}
.software-development-skill {
    grid-row: 2;
    grid-column: 1;
}
.systems-skill {
    grid-row: 2;
    grid-column: 2;
}
.design-skill {
    grid-row: 2;
    grid-column: 3;
}

.skill-set {
    position: relative;
    display: inline-block;
    padding: 1em;
}
.skill-icon {
    width: 3em;
    height: 3.1em; !important
    display: inline-grid;
    margin: 0;
    padding: 0;
}

.skill-name {
    grid-row: 1;
    grid-column: 2;
    white-space: nowrap;
}



.separator-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.separator-left {
    height: 158px;
    width: 119px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-start;
    background-image: url('../../static/img/separator_brg/left_wisp_xl.svg');
    flex-shrink: 0;
}
.separator-center {
    height: 158px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url('../../static/img/separator_brg/center_bar_xl.svg');
    background-repeat: repeat-x;
}
.separator-right {
    height: 158px;
    width: 119px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-end;
    background-image: url('../../static/img/separator_brg/right_wisp_xl.svg');
    flex-shrink: 0;
}


.separator img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-repeat: repeat-x;
}
.star {
    /*display: inline;*/
    /*position: relative;*/

}
.star-block {
    grid-row: 2;
    grid-column: 2;
    position: static;
    white-space: nowrap;
}
.shape-star-half {
    width: 1em;
    height: 1em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' data-icon='star-half-alt'  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 536 512'%3E%3Cpath fill='%23E5E5E5' d='M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.shape-star-solid {
    width: 1em;
    height: 1em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='star' class='svg-inline--fa fa-star fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23E5E5E5' d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1em 1em;
    display: inline-block;
    position: relative;
}

.shape-star-empty {
    width: 1em;
    height: 1em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='star' class='svg-inline--fa fa-star fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23E5E5E5' d='M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1em 1em;
    display: inline-block;
    position: relative;
}




@media (max-width: 797px) {
    body {
    padding-left: 0;
    padding-right: 0;
}
}
