body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container-fluid {
    padding: 0;
}


.separator img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}









.portrait-section {
    background-color: #E5E5E5;
    color: #222831;
}
.skills-section {
    background-color: #30475E;
    color: #E5E5E5;
}
.contacts-section {
    background-color: #E5E5E5;
    color: #30475E;
}
.footer-section {
    background-color: #222831;
    color: #E5E5E5;
}

@media (max-width: 797px) {
    body {
    padding-left: 0;
    padding-right: 0;
}
}
