:root {
    --main-color-light: #E8E8E8;
    --main-color-dark: #222831;
    --main-color-blue: #30475E;
    --main-color-red: #F05454;
    --separator-element-width: 90px;
    --separator-element-height: 119px;
}


body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
}

.portrait-section {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}
.skills-section {
    background-color: var(--main-color-blue);
    color: var(--main-color-light);
}
.contacts-section {
    background-color: var(--main-color-light);
    color: var(--main-color-blue);
}
.contacts-section a {
    color: var(--main-color-dark);
}
.footer-section {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    padding: 1em 2.5em 3em 2.5em;
}
.copyright-text {
    margin-bottom: 0.75em;
}

.avatar {
    height: 20%;
    width: 20%;
    margin: 7% 0 3em 0;
}

.contacts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-column-gap: 2em;
    padding: 5vw 25vw;
}

.contacts-item {
    min-width: 10em;
}

.contacts-item:hover {
        filter: brightness(0%) saturate(100%) invert(41%) sepia(47%) saturate(3936%) hue-rotate(334deg) brightness(108%) contrast(88%);
}
.contact-plate {
    display: block;
    margin-top: 1em;
}

.title {
    font-size: 3.5em;
}
.title-email {
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 5vw;
}

.skills-grid-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:  repeat(3, 1fr);
    grid-column-gap: 5%;
    align-items: center;
    justify-content: center;
    padding: 3em 3em 3em clamp(7vw, 5vw, 4vw);
}

.skills-vertical-flex-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
}

.skill-card-grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: left;
    margin: 2em 0 3em 0;
}

.first-column {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.second-column {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}

.third-column {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    padding-left: 2vw;
}

.skill-grid-icon {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    justify-self: end;
    margin-right: 1.2em;
}

.skill-icon {
    width: 3em;
    height: 3.1em; !important
    display: inline-grid;
    margin: 0;
    padding: 0;
}

.skill-name {
    grid-row: 1;
    grid-column: 2;
    white-space: nowrap;
}



.separator-flex-container {
    display: flex;
}

.separator-left-grb {
    height: var(--separator-element-height);
    width: var(--separator-element-width);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-start;
    background-image: url('../../static/img/separator_grb/left_wisp_xl.svg');
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.separator-center-grb {
    height: var(--separator-element-height);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url('../../static/img/separator_grb/center_bar_xl.svg');
    background-repeat: repeat-x;
}
.separator-right-grb {
    height: var(--separator-element-height);
    width: var(--separator-element-width);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-end;
    background-image: url('../../static/img/separator_grb/right_wisp_xl.svg');
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.separator-left-brg {
    height: var(--separator-element-height);
    width: var(--separator-element-width);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-start;
    background-image: url('../../static/img/separator_brg/left_wisp_xl.svg');
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.separator-center-brg {
    height: var(--separator-element-height);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url('../../static/img/separator_brg/center_bar_xl.svg');
    background-repeat: repeat-x;
}
.separator-right-brg {
    height: var(--separator-element-height);
    width: var(--separator-element-width);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-end;
    background-image: url('../../static/img/separator_brg/right_wisp_xl.svg');
    background-repeat: no-repeat;
    flex-shrink: 0;
}


.separator-left-grd {
    height: var(--separator-element-height);
    width: var(--separator-element-width);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-start;
    background-image: url('../../static/img/separator_grd/left_wisp_xl.svg');
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.separator-center-grd {
    height: var(--separator-element-height);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url('../../static/img/separator_grd/center_bar_xl.svg');
    background-repeat: repeat-x;
}

.separator-right-grd {
    height: var(--separator-element-height);
    width: var(--separator-element-width);
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: flex-end;
    background-image: url('../../static/img/separator_grd/right_wisp_xl.svg');
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.star-block {
    grid-row: 2;
    grid-column: 2;
    position: static;
    white-space: nowrap;
}
.shape-star-half {
    width: 1em;
    height: 1em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 536 512'%3E%3Cpath fill='%23E5E5E5' d='M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.shape-star-solid {
    width: 1em;
    height: 1em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23E5E5E5' d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1em 1em;
    display: inline-block;
    position: relative;
}

.shape-star-empty {
    width: 1em;
    height: 1em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23E5E5E5' d='M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1em 1em;
    display: inline-block;
    position: relative;
}

.shape-icon-telegram {
    width: 7em;
    height: 7em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3Cpath fill='%23222831' d='M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 7em 7em;
    display: inline-block;
    position: relative;
}
.shape-icon-github {
    width: 7em;
    height: 7em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3Cpath fill='%23222831' d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 7em 7em;
    display: inline-block;
    position: relative;
}

.shape-icon-email {
    width: 7em;
    height: 7em;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3Cpath fill='%23222831' d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 7em 7em;
    display: inline-block;
    position: relative;
}




@media (max-width: 797px) {
    body {
    padding-left: 0;
    padding-right: 0;
}
}
