<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Kirill Temerev">

    <title>Kirill Temerev | Personal Page</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

    <!-- Portrait :) -->


    <div class="portrait-section">
        <img src="static/img/portrait.png" alt="x/v" class="avatar">
        <h1>Kirill Temerev</h1>
        <div>ks.temerev@gmail.com</div>
    </div>


    <div class="separator-flex-container">
        <div class="separator-left-grb"></div>
        <div class="separator-center-grb"></div>
        <div class="separator-right-grb"></div>
    </div>


    <!-- Skills -->


    <div class="skills-section">
            <div class="skills-grid-container">

                <div class="first-column">
                    <div class="skills-vertical-flex-container">

                            <div class="skill-card-grid-container">
                                <div class="skill-grid-icon">
                                    <img src="static/img/icons/server.svg" class="skill-icon" alt="hardware">
                                </div>
                                <span class="skill-name">Hardware</span>
                                <div class="star-block">
                                    <div class="shape-star-solid"></div>
                                    <div class="shape-star-solid"></div>
                                    <div class="shape-star-solid"></div>
                                    <div class="shape-star-solid"></div>
                                    <div class="shape-star-empty"></div>
                                </div>
                            </div>
                            <div class="skill-card-grid-container">
                                <div class="skill-grid-icon">
                                    <img src="static/img/icons/file-code.svg" class="skill-icon" alt="development">
                                </div>
                                <span class="skill-name">Software Development</span>
                                <div class="star-block">
                                    <div class="shape-star-solid"></div>
                                    <div class="shape-star-solid"></div>
                                    <div class="shape-star-half"></div>
                                    <div class="shape-star-empty"></div>
                                    <div class="shape-star-empty"></div>
                                </div>
                            </div>

                    </div>
                </div>


                <div class="second-column">
                    <div class="skills-vertical-flex-container">
                        <div class="skill-card-grid-container">
                            <div class="skill-grid-icon">
                                <img src="static/img/icons/tasks.svg" class="skill-icon" alt="team">
                            </div>
                            <span class="skill-name">Team Management</span>
                            <div class="star-block">
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-half"></div>
                                <div class="shape-star-empty"></div>
                            </div>
                        </div>
                        <div class="skill-card-grid-container">
                            <div class="skill-grid-icon">
                                <img src="static/img/icons/drafting-compass.svg" class="skill-icon" alt="systems">
                            </div>
                            <span class="skill-name">Systems and Infrastructure</span>
                            <div class="star-block">
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-half"></div>
                                <div class="shape-star-empty"></div>
                                <div class="shape-star-empty"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="third-column">
                    <div class="skills-vertical-flex-container">
                        <div class="skill-card-grid-container">
                            <div class="skill-grid-icon">
                                <img src="static/img/icons/network.svg" class="skill-icon" alt="networks">
                            </div>
                            <span class="skill-name">Networks</span>
                            <div class="star-block">
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-half"></div>
                                <div class="shape-star-empty"></div>
                            </div>
                        </div>
                        <div class="skill-card-grid-container">
                            <div class="skill-grid-icon">
                                <img src="static/img/icons/paint-brush.svg" class="skill-icon" alt="design">
                            </div>
                            <span class="skill-name">Design</span>
                            <div class="star-block">
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-solid"></div>
                                <div class="shape-star-empty"></div>
                                <div class="shape-star-empty"></div>
                                <div class="shape-star-empty"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
    </div>

    <div class="separator-flex-container">
        <div class="separator-left-brg"></div>
        <div class="separator-center-brg"></div>
        <div class="separator-right-brg"></div>
    </div>



    <!-- Contacts -->


        <div class="contacts-section">
            <div class="">

                <div>
                    <div>Temerev-KS</div>
                </div>

                <div>
                    <div>temerev_ks</div>
                </div>

                <div>
                    <div>ks.temerev@gmail.com</div>
                </div>

            </div>
        </div>



        <div class="separator-flex-container">
            <div class="separator-left-grd"></div>
            <div class="separator-center-grd"></div>
            <div class="separator-right-grd"></div>
        </div>



    <!-- Footer -->

        <div class="footer-section">
            <div>{{ current_date }}</div>
            <div>Kirill Temerev</div>
        </div>

</body>
</html>