<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Kirill Temerev">

    <title>Kirill Temerev | Personal Page</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{#    <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet">#}

</head>
<body>

    <!-- Portrait :) -->


    <div class="portrait-section">
        <img src="static/img/portrait.png" alt="x/v" class="portrait-avatar-image">
        <div class="portrait-title-text">Kirill Temerev</div>
        <div class="portrait-title-email">ks.temerev@gmail.com</div>
    </div>


    <div class="separator-flex-container">
        <div class="separator-left-grb"></div>
        <div class="separator-center-grb"></div>
        <div class="separator-right-grb"></div>
    </div>


    <!-- Skills -->


    <div class="skills-section">
        <div class="skills-grid-container">
            <div class="skills-vertical-flex-container">
                <div class="skills-card-grid-container">
                    <div class="skills-card-icon-container">
                        <img src="static/img/icons/server.svg" class="skills-card-icon" alt="hardware">
                    </div>
                    <span class="skills-card-name">Hardware</span>
                    <div class="skills-card-star-block">
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-empty"></div>
                    </div>
                </div>
                <div class="skills-card-grid-container">
                    <div class="skills-card-icon-container">
                        <img src="static/img/icons/file-code.svg" class="skills-card-icon" alt="development">
                    </div>
                    <span class="skills-card-name">Software Development</span>
                    <div class="skills-card-star-block">
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-half"></div>
                        <div class="shape-star-empty"></div>
                        <div class="shape-star-empty"></div>
                    </div>
                </div>
            </div>

            <div class="skills-vertical-flex-container">
                <div class="skills-card-grid-container">
                    <div class="skills-card-icon-container">
                        <img src="static/img/icons/tasks.svg" class="skills-card-icon" alt="team">
                    </div>
                    <span class="skills-card-name">Team Management</span>
                    <div class="skills-card-star-block">
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-half"></div>
                        <div class="shape-star-empty"></div>
                    </div>
                </div>
                <div class="skills-card-grid-container">
                    <div class="skills-card-icon-container">
                        <img src="static/img/icons/drafting-compass.svg" class="skills-card-icon" alt="systems">
                    </div>
                    <span class="skills-card-name">Systems and Infrastructure</span>
                    <div class="skills-card-star-block">
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-half"></div>
                        <div class="shape-star-empty"></div>
                        <div class="shape-star-empty"></div>
                    </div>
                </div>
            </div>

            <div class="skills-vertical-flex-container">
                <div class="skills-card-grid-container">
                    <div class="skills-card-icon-container">
                        <img src="static/img/icons/network.svg" class="skills-card-icon" alt="networks">
                    </div>
                    <span class="skills-card-name">Networks</span>
                    <div class="skills-card-star-block">
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-half"></div>
                        <div class="shape-star-empty"></div>
                    </div>
                </div>
                <div class="skills-card-grid-container">
                    <div class="skills-card-icon-container">
                        <img src="static/img/icons/paint-brush.svg" class="skills-card-icon" alt="design">
                    </div>
                    <span class="skills-card-name">Design</span>
                    <div class="skills-card-star-block">
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-solid"></div>
                        <div class="shape-star-half"></div>
                        <div class="shape-star-empty"></div>
                        <div class="shape-star-empty"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="separator-flex-container">
        <div class="separator-left-brg"></div>
        <div class="separator-center-brg"></div>
        <div class="separator-right-brg"></div>
    </div>



    <!-- Contacts -->


    <div class="contacts-section">
        <div class="">

            <div class="contacts-container">
                <a href="https://github.com/Temerev-KS" class="contacts-link">
                    <div class="contacts-item">
                        <div class="shape-icon-github"></div>
                        <span class="contacts-item-text">Temerev-KS</span>
                    </div>
                </a>

                <a href="https://t.me/temerev_ks" class="contacts-link">
                    <div class="contacts-item">
                        <div class="shape-icon-telegram"></div>
                        <span class="contacts-item-text">temerev_ks</span>
                    </div>
                </a>

                <a href="mailto:ks.temerev@gmail.com" class="contacts-link">
                    <div class="contacts-item">
                        <div class="shape-icon-email"></div>
                        <span class="contacts-item-text">ks.temerev@gmail.com</span>
                    </div>
                </a>
            </div>

        </div>
    </div>


    <div class="separator-flex-container">
        <div class="separator-left-grd"></div>
        <div class="separator-center-grd"></div>
        <div class="separator-right-grd"></div>
    </div>


    <!-- Footer -->


    <div class="footer-section">
        <div class="footer-copyright-text">© {{ current_date }}</div>
        <div class="footer-copyright-text">Kirill Temerev</div>
    </div>

</body>
</html>